.button {
    -fx-background-color: #4f413d;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
    -fx-pref-width: 165px;
}
.button:hover {
    -fx-background-color: #917d76;
}

.root {
    -fx-background-color: #a89994;
}

.label {
    -fx-font-size: 14px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.column-header {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

.choice-box {
    -fx-pref-width: 150px;
}